/***** For Responsive Web App *****/
* {
box-sizing: border-box;
}

[class*="col-"] {
float: left;
padding: 15px;
width: 100%;
}

@media only screen and (max-width: 600px) {
/* For smart phone: */
.col-s-0{display: none;}
.col-s-1 {display: inline-block; width: 8.33%;}
.col-s-2 {display: inline-block; width: 16.66%;}
.col-s-3 {display: inline-block; width: 25%;}
.col-s-4 {display: inline-block; width: 33.33%;}
.col-s-5 {display: inline-block; width: 41.66%;}
.col-s-6 {display: inline-block; width: 50%;}
.col-s-7 {display: inline-block; width: 58.33%;}
.col-s-8 {display: inline-block; width: 66.66%;}
.col-s-9 {display: inline-block; width: 75%;}
.col-s-10 {display: inline-block; width: 83.33%;}
.col-s-11 {display: inline-block; width: 91.66%;}
.col-s-12 {display: inline-block; width: 100%;}
}

@media only screen and (min-width: 600px) {
/* For tablets: */
.col-m-0{display: none;}
.col-m-1 {display: inline-block; width: 8.33%;}
.col-m-2 {display: inline-block; width: 16.66%;}
.col-m-3 {display: inline-block; width: 25%;}
.col-m-4 {display: inline-block; width: 33.33%;}
.col-m-5 {display: inline-block; width: 41.66%;}
.col-m-6 {display: inline-block; width: 50%;}
.col-m-7 {display: inline-block; width: 58.33%;}
.col-m-8 {display: inline-block; width: 66.66%;}
.col-m-9 {display: inline-block; width: 75%;}
.col-m-10 {display: inline-block; width: 83.33%;}
.col-m-11 {display: inline-block; width: 91.66%;}
.col-m-12 {display: inline-block; width: 100%;}
}
@media only screen and (min-width: 768px) {
/* For desktop: */
.col-0{display: none;}
.col-1 {display: inline-block; width: 8.33%;}
.col-2 {display: inline-block; width: 16.66%;}
.col-3 {display: inline-block; width: 25%;}
.col-4 {display: inline-block; width: 33.33%;}
.col-5 {display: inline-block; width: 41.66%;}
.col-6 {display: inline-block; width: 50%;}
.col-7 {display: inline-block; width: 58.33%;}
.col-8 {display: inline-block; width: 66.66%;}
.col-9 {display: inline-block; width: 75%;}
.col-10 {display: inline-block; width: 83.33%;}
.col-11 {display: inline-block; width: 91.66%;}
.col-12 {display: inline-block; width: 100%;}
}

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }
.align-justify { text-align: justify; }

/***** navigation *****/
body {
    margin: 0;
}
div.header {
    border-bottom: 1px solid #ccc;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
}
ul.topnav li {
    float: left;
}
ul.topnav li a {
    display: block;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
}
span.title {
    display: inline-block;
    font-size: 20px;
    padding: 16px;
}
a:link {
    text-decoration: none;
    color: #595959;
}
a:visited {
    text-decoration: none;
    color: #595959;
}
i {
    color: #ccc;
    padding: 10px 0;
    font-size: 30px;
}
a.nickname {
    float: right;
}
ul.topnav li a.nickname {
    padding: 18px 0;
}
li#info {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 18px 5px;
    color: #595959;
}
@media screen and (max-width: 600px) {
    span.title {
        text-align: center;
        display: block;
    }
    ul.topnav li.right {
        float: none;
    }
    ul.topnav li {
        float: none;
    }
    ul.topnav {
        float: none;
    }
    ul.topnav #icon,
    ul.topnav #info {
        display: none;
    }
}
